In [4]:
#-------------------------------------------------------------------------------------------------------#
#                                               FAKHR BASHA                                             #   
#-------------------------------------------------------------------------------------------------------#
import pandas as pd

In [4]:
lst = [1,2,3,4]
s = pd.Series(lst)
s

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
# change DT
lst = [1,2,3,4]
s = pd.Series(lst , dtype = float)
s

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [10]:
# change idx
lst = [1,2,3,4]
s = pd.Series(lst , dtype = float , index = ["A","B","C","E"])
s

A    1.0
B    2.0
C    3.0
E    4.0
dtype: float64

In [18]:
# concate
x= pd.Series(["ahmed","salah"])
y= pd.Series(["mo","fakhr"])

z = pd.concat([x,y] , ignore_index = True ) #new idx
z

0    ahmed
1    salah
2       mo
3    fakhr
dtype: object

In [22]:
#Delete
s = pd.Series({10:'A',20:'B',30:'C',40:'D'}) # delete C
s

10    A
20    B
30    C
40    D
dtype: object

In [26]:
z = s.drop(30)
z

10    A
20    B
40    D
dtype: object

In [40]:
# Drop Duplicate
s = pd.Series({10:'A',20:'B',30:'C',40:'D',50:'B'})
s

10    A
20    B
30    C
40    D
50    B
dtype: object

In [42]:
z = s.drop_duplicates()
z

10    A
20    B
30    C
40    D
dtype: object

In [46]:
# copy
s = pd.Series([1,2,3])
s2 = s.copy()
s2

0    1
1    2
2    3
dtype: int64

In [50]:
s2.drop(0,inplace = True)
s2

1    2
2    3
dtype: int64

In [52]:
s

0    1
1    2
2    3
dtype: int64

In [56]:
#math Series
x = pd.Series([1,2,3,4,5])
z = x.add(5) # add 5 => 1 + 5 = 6 etc
z

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [58]:
l = z.sub(5)
l

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [76]:
l.mul(2)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [78]:
l.div(2)

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
dtype: float64

In [13]:
# DataFrame
data = {
    'StudentName' : ['ahmed','mohamed','salah','Ali'],
    'studentgrade' : ['A+','B','C+','D']
} 
student = pd.DataFrame(data )
student

  StudentName studentgrade
0       ahmed           A+
1     mohamed            B
2       salah           C+
3         Ali            D

In [ ]:
# create file CSV
#read
#student = pd.read_csv('path.csv)

In [17]:
cusromer = pd.read_csv('customers-100.csv')

customer

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [21]:

customer.head(3)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/

In [25]:

customer.tail(3)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [37]:
s = customer[['City','Email']].groupby('City').max()
s

                                              Email
City
Acevedoville                     wterrell@clark.com
Bensonview              stanleyblackwell@benson.org
Brittanyview             rsingleton@ryan-cherry.com
Bryanville                      mariah88@santos.com
Burchbury         cassieparrish@blevins-chapman.net
...                                             ...
West Marthaburgh     willistonya@randolph-baker.com
West Priscilla              colinalvarado@miles.net
West Reginald          mchandler@cochran-huerta.org
West Samuel              gfigueroa@boone-zavala.com
Zimmermanland                  bauercrystal@gay.com

[100 rows x 1 columns]

In [45]:
customer.describe()

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [43]:
customer.describe(include=[object])

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
count,100,100,100,100,100,100,100,100,100,100,100
unique,100,93,97,99,100,85,100,100,100,96,100
top,2354a0E336A91A1,Joanna,Greer,Simon LLC,Judymouth,Solomon Islands,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2021-04-23,http://www.hatfield-saunders.net/
freq,1,2,2,2,1,4,1,1,1,2,1

In [55]:
customer[['Email','City']].head(10)

                         Email               City
0     zunigavanessa@smith.info       East Leonard
1              vmata@colon.com  East Jimmychester
2          beckycarr@hogan.com      Isabelborough
3  stanleyblackwell@benson.org         Bensonview
4      colinalvarado@miles.net     West Priscilla
5          louis27@gilbert.com      Chavezborough
6          tgates@cantrell.com           Lake Ana
7              asnow@colon.com            Kimport
8      mariokhan@ryan-pope.org       Robersonstad
9            mdyer@escobar.net         Elaineberg

In [57]:
customer[2:7]

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/

In [61]:
customer.loc[1:5 , ['City','Email','First Name']]

                City                        Email First Name
1  East Jimmychester              vmata@colon.com    Preston
2      Isabelborough          beckycarr@hogan.com        Roy
3         Bensonview  stanleyblackwell@benson.org      Linda
4     West Priscilla      colinalvarado@miles.net     Joanna
5      Chavezborough          louis27@gilbert.com      Aimee

In [74]:
customer.sample(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
91,92,98b3aeDcC3B9FF3,Shane,Foley,Rocha-Hart,South Dannymouth,Hungary,+1-822-569-0302,001-626-114-5844x55073,nsteele@sparks.com,2021-07-06,https://www.holt-sparks.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
89,90,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh,Namibia,679.415.1210,945-842-3659x4581,tyrone77@valenzuela.info,2021-01-09,http://www.deleon-crosby.com/
84,85,03A1E62ADdeb31c,Corey,Holt,"Mcdonald, Bird and Ramirez",New Glenda,Fiji,001-439-242-4986x7918,3162708934,maurice46@morgan.com,2020-02-18,http://www.watson.com/

In [78]:
customer.sample(5 , random_state=23) # keep random value

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
26,27,aBdfcF2c50b0bfD,Dakota,Poole,Simmons Group,Michealshire,Belarus,(371)987-8576x4720,071-152-1376,stacey67@fields.org,2022-02-20,https://sanford-wilcox.biz/
80,81,D6CEAfb3BDbaa1A,Leslie,Jennings,Blankenship-Arias,Coreybury,Micronesia,629.198.6346,075.256.0829,corey75@wiggins.com,2021-11-13,https://www.juarez.com/
82,83,E8E7e8Cfe516ef0,Hunter,Moreno,Fitzpatrick-Lawrence,East Clinton,Isle of Man,(733)833-6754,001-761-013-7121,isaac26@benton-finley.com,2020-12-28,http://walls.info/
68,69,421a109cABDf5fa,Virginia,Dudley,Warren Ltd,Hartbury,French Southern Territories,027.846.3705x14184,+1-439-171-1846x4636,zvalencia@phelps.com,2021-01-31,http://hunter-esparza.com/
77,78,FfaeFFbbbf280db,Cassidy,Mcmahon,"Mcguire, Huynh and Hopkins",Lake Sherryborough,Myanmar,5040771311,684-682-0021x1326,katrinalane@fitzgerald.com,2020-10-21,https://hurst.com/

In [80]:
customer[customer['City'] == 'Coreybury'] #filter

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
80,81,D6CEAfb3BDbaa1A,Leslie,Jennings,Blankenship-Arias,Coreybury,Micronesia,629.198.6346,075.256.0829,corey75@wiggins.com,2021-11-13,https://www.juarez.com/

In [82]:
customer.isnull() # fliter missing value

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Data Manipulating
#aggfunction max() min() sum()

In [86]:
customer['Subscription Date'].max()

'2022-05-26'

In [88]:
customer['Subscription Date'].min()

'2020-01-13'

In [ ]:
# delete column(axis=1) or row (axis=0)
customer.drop('Phone 2' , axis=1,inplace=True)

In [120]:
customer

,Index,Customer Id,First Name,Last Name,Company,City,Phone 1,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,229.077.5154,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,5153435776,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,+1-539-402-0259,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,001-808-617-6467x12895,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,001-234-203-0635x76146,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,(188)169-1674x58692,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,+1-846-706-2218,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,+1-753-067-8419x7170,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,(530)311-9786,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,(753)813-6941,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [128]:
# delete row
customer.drop(5,axis=0,inplace=True)

In [130]:
customer

,Index,Customer Id,First Name,Last Name,Company,City,Phone 1,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,229.077.5154,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,5153435776,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,+1-539-402-0259,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,001-808-617-6467x12895,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,001-234-203-0635x76146,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,(188)169-1674x58692,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,+1-846-706-2218,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,+1-753-067-8419x7170,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,(530)311-9786,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,(753)813-6941,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [ ]:
#----------------------------------------------Fakhr Basha--------------------------------------------------